/* Desktop version */
.heading {
    text-align: center;
    margin-top: 40px;
    font-style: normal;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.input {
    margin-left: 670px;
    margin-top: 170px;
    padding: 13px 20px;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button1 {
    position: absolute;
    margin-top: 170px;
    margin-left: 50px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 600px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d5a813;
    color: aliceblue;
    border: 2px solid dodgerblue;
}

.button1:hover {
    background-color: dodgerblue;
}

.button2 {
    margin-left: 50px;
    padding: 8px 16px;
    color: aliceblue;
    background-color: #6738dd;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button2:hover {
    background-color: red;
}

.heading1 {
    margin-left: 670px;
    font-size: 23px;
    margin-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;

}

.list {
    margin-left: 701px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif
}

body {
    background-color: aquamarine;
}

/* mobile version */

@media only screen and (max-width:600px) {

    body {
        background-color: aquamarine;
    }

    .heading {
        text-align: center;
        font-size: 29px;
        font-style: normal;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: blue;
    }

    .input {
        margin-top: 50px;
        margin-left: 45px;
        font-size: 21px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .button1 {
        margin-top: 30px;
        margin-left: 128px;
        padding: 6px 8px;
        background-color: green;
        color: aliceblue;
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 2px;
        border: none;
    }

    .button1:hover {
        background-color: dodgerblue;
    }

    .heading1 {
        margin-left: 45px;
        font-size: 20px;
        font-weight: 200;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: underline;
    }

    .button2 {
        margin-left: 50px;
        padding: 6px 9px;
        font-size: 15px;
        background-color: blueviolet;
        color: aliceblue;
        border-radius: 2px;
        border: none;
    }

    .button2:hover {
        background-color: red;
    }

    .list {
        margin-left: 50px;
        font-size: 27px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
    }

}